@mixin font-face($font-family, $font-path, $font-weight, $font-style: normal) {
  @font-face {
    src:
            url("../fonts/#{$font-path}.woff2") format("woff2"),
            url("../fonts/#{$font-path}.woff") format("woff");
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
