extends /layout/app

block content
  .profile
   img.profile__avatar(src='../../images/avatar.png' alt='avatar')
   ul.profile__list
    li.profile__characteristic
      | Имя
      span.profile__value Юлия
    li.profile__characteristic
      | Дата рождения
      span.profile__value 10.01.1997
    li.profile__characteristic
      | Город
      span.profile__value Ставрополь
    li.profile__characteristic
      | Контактные данные
      span.profile__value +7(988)607-61-92
  .skills
   h2.skills__title Навыки
   .skills__checkbox-list
    .skills__checkbox
      label
        input(type='checkbox' checked)
        span.skills__custom-checkbox
        |               html5
    .skills__checkbox
      label
        input(type='checkbox' checked)
        span.skills__custom-checkbox
        |               SASS
    .skills__checkbox
      label
        input(type='checkbox' checked)
        span.skills__custom-checkbox
        |               vANILLAJS
    .skills__checkbox
      label
        input(type='checkbox' checked)
        span.skills__custom-checkbox
        |               GIT
    .skills__checkbox
      label
        input(type='checkbox' checked)
        span.skills__custom-checkbox
        |               css3
    .skills__checkbox
      label
        input(type='checkbox')
        span.skills__custom-checkbox
        |               LESS
    .skills__checkbox
      label
        input(type='checkbox')
        span.skills__custom-checkbox
        |               aNGULAR
    .skills__checkbox
      label
        input(type='checkbox' checked)
        span.skills__custom-checkbox
        |               react
    .skills__checkbox.skills__checkbox_margin-bottom_0
      label
        input(type='checkbox' checked)
        span.skills__custom-checkbox
        |               БЭМ
    .skills__checkbox.skills__checkbox_margin-bottom_0
      label
        input(type='checkbox' checked)
        span.skills__custom-checkbox
        |               gULP
    .skills__checkbox.skills__checkbox_margin-bottom_0
      label
        input(type='checkbox')
        span.skills__custom-checkbox
        |               JQUERY
    .skills__checkbox.skills__checkbox_margin-bottom_0
      label
        input(type='checkbox')
        span.skills__custom-checkbox
        |               BOOTSTRAP
  .js-skill
   img.js-skill__meter(src='../../images/meter.png' alt='meter')
   .js-skill__description
    p Мой уровень владения
    p Java Script
    .js-skill__counter
      | 954





