body {
  background-color: #f0f0f0;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 33px;
}

.wrapper {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  max-width: 662px;
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-image: url("/images/bg.png");
}

@include max-w(990) {
  body {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@include max-w(897) {
  body {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@include max-w(849) {
  body {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@include max-w(796) {
  body {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 21px;
  }
}

@include max-w(499) {
  body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 21px;
  }
}
@include max-w(357) {
  body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .wrapper {
    margin-bottom: 26px;
  }
}
